
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

<body>
	<!--Se pone los scripts en este laboratorio para que me sea facil identificar el codigo perteneciente de cada api-->
   












    <div id="data"> </div>

<script type="text/javascript">
    var xmlhttp = new XMLHttpRequest();
var url = "https://api.coindesk.com/v1/bpi/currentprice.json";
        
xmlhttp.onreadystatechange = function() {
  if (this.readyState == 4  &&  this.status == 200) {
    var json = JSON.parse(this.responseText);
    parseJson(json);
  }     
};

xmlhttp.open("GET", url, true);
xmlhttp.send();

function parseJson(json) {
  var time = "<b>Ultima Actualizacion : " + json["time"]["updated"] + "</b>";
  var usdValue = "1 BTC es igual a $" + json["bpi"]["USD"]["rate"];
  var gbpValue = "1 BTC es igual a &pound;" + json["bpi"]["GBP"]["rate"];
  var euroValue = "1 BTC es igual a &euro;" + json["bpi"]["EUR"]["rate"];

  document.getElementById("data").innerHTML =
    time + "<br /><br />" + usdValue + "<br />" + gbpValue + "<br />" + euroValue;
}
</script>


  <hr>



 <div id="paypal-button-container"></div>

    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
             style: {
            label: 'buynow',
            fundingicons: true, // optional
            branding: true, // optional
            size:  'responsive', // small | medium | large | responsive
            shape: 'pill',   // pill | rect
            color: 'blue'   // gold | blue | silve | black
        },


            client: {
                sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                production: '5YR5BYRPC49B34ZE'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '100000.01', currency: 'USD' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypal-button-container');

    </script>

<div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">¿A qué se refiere la descentralización de servicios web?</button></h5>
  </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul>
        <li>
            Esto se refiere a que una aplicacion web puede ser desplegada en otros servidores.
        </li>
      </ul>
      </div>
    </div>
  </div>



<div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</button></h5>
  </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul>
        <li>
          Cuando vaya a haber una falla en uno de los servidores, la aplicacion seguira corriendo en otro de los servidores.
        </li>
      </ul>
      </div>
    </div>
  </div>




<hr>
<h4>Tabla con todos las <b>Reportes</b></h4>
<?php
    require_once "../util.php";

    $result = getReportes();
    echo "<table>";
    echo "<tr>";
    echo "<th> Clave </th>";
    echo "<th> Descripcion </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["ClaveM"]. "</td>";
            echo "<td>" . $row["Descripcion"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";

?>



<!--

<h2>Seccion de <i>AJAX</i></h2>

<form>
<select name="users" onchange="showUser(this.value)">
  <option value="">Selecciona una Opcion para desplegar la informacion:</option>
  <option value="1">Obtener Reportes</option>
  <option value="2">Todos los Registros con SystemFAILURE</option>
  <option value="3">Cantidad de eventos SYSTEM FAILURE y la cantidad de eventos SUCCESS</option>
  </select>
</form>
<br>
<div id="txtHint"><b>Aqui se visualiza la informacion seleccionada</b></div>

-->




</body>

<!--
<script>

function showUser(str) {
    if (str == "") {
        document.getElementById("txtHint").innerHTML = "";
        return;
    } else { 
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("txtHint").innerHTML = this.responseText;
            }
        };
        xmlhttp.open("GET","../php/php_ajax.php?q="+str,true);
        xmlhttp.send();
    }
}
</script>
-->
