<h2>Bienvenido <?=$user?></h2>
	<a class="btn btn-warning" href="Lab19_logout.php"><i>Cerrar Sesion</i></a>

	<input id="userInput" type="text" size="30" onkeyup="sendRequest()" placeholder="Livesearch">
	<div id="ajaxResponse"></div>

<form>
<select onchange="showRSS(this.value)">
<option value="">Selecciona un Feed de RSS</option>
<option value="GoogNews">Noticias de Google</option>
<option value="NBC">Noticias de la NBC</option>
<option value="Puppies">Fotos de Cachorros del dia</option>
<option value="CNN">Noticias de la CNN</option>
<option value="NASA_IMG">La Imagen del dia de la NASA</option>
<option value="techworld">Noticias de TechWorld</option>
</select>
</form>
<br>
<div id="rssOutput">Selecciona una opcion para que despliegue las noticias  de su preferencia.</div>
</body>


<script type="text/javascript" src="ajax_lab19.js"></script>
<script type="text/javascript" src="ajax_livesearch_js_lab19.js"></script>

