

<head>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<h2>Bienvenido <?=$user?></h2>

<!--Meti todo el script en lo que veo resolver un problema en donde no funciona el codigo tomandolo de otro script. -->
<script type="text/javascript"> 
	$(document).ready(function(){
    $("#elsenor").click(function(){
        $("p").hide(10);
        alert("The paragraph is now hidden");
    });
});

</script>
<script> 
$(document).ready(function(){
    $("#segundoboton").click(function(){
        var div = $("#div25");  
        div.animate({left: '100px'}, "slow");
        div.animate({fontSize: '3em'}, "slow");
    });
});
</script>


	<a class="btn btn-warning" href="Lab20_logout.php"><i>Cerrar Sesion</i></a>

	<input id="userInput" type="text" size="30" onkeyup="sendRequest()" placeholder="Livesearch">
	<div id="ajaxResponse"></div>



<br><br>
<div id="div1"><h2>Muestrame el texto donde se ve lo que hace JQuery</h2></div>
<button class="elboton">Get External Content</button>
<br><br>

<button id="elsenor">Esconder el Texto</button>

<p>Si presionas el boton, este texto va a desaparecer.</p>
<button id="segundoboton">Animar el cuadro</button>

<div id="div25" style="background: yellow;height:100px;width:500px;position:absolute;"> Hola <?=$user?></div>
<br><br><br><br><hr>

<form>
<select onchange="showRSS(this.value)">
<option value="">Selecciona un Feed de RSS</option>
<option value="GoogNews">Noticias de Google</option>
<option value="NBC">Noticias de la NBC</option>
<option value="Puppies">Fotos de Cachorros del dia</option>
<option value="CNN">Noticias de la CNN</option>
<option value="NASA_IMG">La Imagen del dia de la NASA</option>
<option value="techworld">Noticias de TechWorld</option>
</select>
</form>
<br>
<div id="rssOutput">Selecciona una opcion para que despliegue las noticias  de su preferencia.</div>
</body>




<script type="text/javascript" src="jquery_lab20.js"></script>

<script type="text/javascript" src="ajax_lab20.js"></script>
<script type="text/javascript" src="ajax_livesearch_js_lab20.js"></script>

