<body>
  
  <style type="text/css">
    .forma{
      text-align: center;
    }
  </style>
  <h3 align="center">El laboratorio en si se encuentra a partir de la pagina de login. Saludos...</h3>
<div class="forma">
  <form method="post" action="Lab20_daw_login.php" >

    <label>Nombre Usuario: </label><br><input type="text" name="user" id="user" placeholder="Escribe tu nombre" required>
    <br><br>
    <label> Contraseña:</label><br>
    <input type="password" name="password" id="password" placeholder="Escribe tu Contraseña" required>
    <br><br>
    <button type="submit" class="btn btn-secondary">Iniciar <i>Sesion</i></button>  
  </form>
  </div>
<hr><br>


<div class="forma">

  <form method="post" action="InsertUser_daw_lab20.php" >

    <label>Nombre Usuario (Crear Cuenta): </label><br><input type="text" name="user" id="user" placeholder="Escribe tu nombre" required>
    <br><br>
    <label> Contraseña: (Crear Contraseña)</label><br>
    <input type="password" name="password" id="password" placeholder="Escribe tu Contraseña" required>
    <br><br>
    <button type="submit" class="btn btn-success">Crear <i>Cuenta</i></button>  
  </form>
  </div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Presiona aqui para otra forma de Crear una Cuenta</i></button>



  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bienvenido, Aqui puedes Crear una Cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="forma">



              <form method="post" action="InsertUser_daw_lab20.php" >

                <label>Nombre Usuario (Crear Cuenta): </label><br><input type="text" name="user" id="user" placeholder="Escribe tu nombre" required>
                <br><br>
                <label> Contraseña: (Crear Contraseña)</label><br>
                <input type="password" name="password" id="password" placeholder="Escribe tu Contraseña" required>
                <br><br>
                <button type="submit" class="btn btn-success">Crear <i>Cuenta</i></button>  
              </form>
              </div>


        </div>
        
      </div>
    </div>
  </div>








  <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</button></h5>
  </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul>
        <li>
        <img src="img.jpg">
        <p>En pocas palabras, la parte de Javascript que se usa para AJAX, se simplifica con el uso de JQuery.</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qué alternativas a jQuery existen?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

    <ul>
    <li>
      Alternativas a JQuery:
        <ul>
          <li>Kendo UI (Paid)</li>
          <li>React</li>
          <li>Webix</li>
          <li>Polymer</li>
          <li>JQwidgets</li>
        </ul>
    </li>
    </li>
    
    </ul>
      
</div>
    </div>
  </div>
  <hr>

  <h4>Referencias:</h4>
  <ul>
    <li><a href="https://www.sitepoint.com/top-5-jquery-ui-alternatives/">SitePoint</a></li>
    <li></li>
  </ul>

<br>
<h4>Tabla con todos las <b>Usuarios</b></h4>
<?php
    require_once "util_lab20.php";

    $result = getUsers();
    echo "<table>";
    echo "<tr>";
    echo "<th> UserName </th>";
    echo "<th> Password </th>";
    echo "<th> Country </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["UserName"]. "</td>";
            echo "<td>" . $row["Password"]. "</td>";
            echo "<td>" . $row["Country"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";

?>
<br><br>
<h4>Usuarios de nombre "Quique"</h4>
<?php
    require_once "util_lab20.php";

    $result = getUsersbyName("Quique");
    echo "<table>";
    echo "<tr>";
    echo "<th> UserName </th>";
    echo "<th> Password </th>";
    echo "<th> Country </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["UserName"]. "</td>";
            echo "<td>" . $row["Password"]. "</td>";
            echo "<td>" . $row["Country"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";
?>
<br><br>


</body>
