<body>
	
	<h1>Hola, Ingresa la cadena en el siguiente campo de texto (el string debe ser escrito tal cual como se presenta)</h1>

	<form id="forma" method="post" action="../php/insertarRegistro.php">
		<input type="text" name="user" placeholder="Inserta los caracteres" id="user" >
		<input type="submit" name="" id="subir">
	</form>




<hr>

	<h4>Tabla con todos las <b>Reportes</b></h4>
<?php
    require_once "../util.php";

    $result = getReportes();
    echo "<table>";
    echo "<tr>";
    echo "<th> UserInput </th>";
    echo "<th> HoraIngreso </th>";
    echo "<th> Status </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["UserInput"]. "</td>";
            echo "<td>" . $row["HoraIngreso"]. "</td>";
            echo "<td>" . $row["Status"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";

?>

<hr>

<h4>Tabla con todos las <b>Reportes de FAILURE</b></h4>
<?php
    require_once "../util.php";

    $result = getReportesFailure();
    echo "<table>";
    echo "<tr>";
    echo "<th> UserInput </th>";
    echo "<th> HoraIngreso </th>";
    echo "<th> Status </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["UserInput"]. "</td>";
            echo "<td>" . $row["HoraIngreso"]. "</td>";
            echo "<td>" . $row["Status"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";

?>

<hr>

	<h4>Conteo de los reportes Failure y los reportes Success</h4>
<?php
    require_once "../util.php";

    $result = conteoReportesFAILURE();
    echo "<table>";
    echo "<tr>";
    echo "<th> NumeroStatusSYSTEMFAILURE </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["NumeroSYSTEMFAILURE"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";
    


    $result = conteoReportesSUCCESS();

    echo "<table>";
    echo "<tr>";
    echo "<th> NumeroStatusSUCCESS </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["NumeroSUCCESS"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";

?>

<hr>

<h2>Seccion de <i>AJAX</i></h2>

<form>
<select name="users" onchange="showUser(this.value)">
  <option value="">Selecciona una Opcion para desplegar la informacion:</option>
  <option value="1">Obtener Reportes</option>
  <option value="2">Todos los Registros con SystemFAILURE</option>
  <option value="3">Cantidad de eventos SYSTEM FAILURE y la cantidad de eventos SUCCESS</option>
  </select>
</form>
<br>
<div id="txtHint"><b>Aqui se visualiza la informacion seleccionada</b></div>






</body>


<script>
	/*function acceptedString(){
		if (forma.cajatexto.value=="") {
		  alert("No se puede enviar formas vacias. INGRESA LOS VALORES");	
		}
		
	}*/

function showUser(str) {
    if (str == "") {
        document.getElementById("txtHint").innerHTML = "";
        return;
    } else { 
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("txtHint").innerHTML = this.responseText;
            }
        };
        xmlhttp.open("GET","../php/php_ajax.php?q="+str,true);
        xmlhttp.send();
    }
}
</script>
