<body>
  


  <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">¿Qué es ODBC y para qué es útil?</button></h5>
  </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul>
        <li>
        ODBC significa <i>Open Data Base Connectivity</i>, y esto es util para tener acceso a cualquier dato sin importar el gestor de base de datos (DBMS) que se este utilizando para almacenar la informacion. 
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qué es SQL Injection?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

    <ul>
    <li>
      Un inyeccion de SQL es usada de forma similar a las otras formas de inyeccion de codigo. Pero, a diferencia de las otras inyecciones de codigo, esta permite poder alterar las bases de datos de forma que hasta pueden exponer la informacion que estas mismas contienen. Por ejemplo, una inyeccion de SQL podria destruir una base de datos o alterarla a como sea conveniente a un usuario.
    </li>
    
    </ul>
      
</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
  <ul>
    <li>
      Las maneras que se pueden utilizar para poder prevenir estos ataques es prohibiendo la insercion de caracteres especiales (comillas en particular) para que estos no permitan la insercion de codigo que pueda alterar la informacion. 
    </li>
  </ul>      
  </div>
    </div>
  </div>
</div>
<br>
<h4>Tabla con todas las <b>Frutas</b></h4>
<?php
    include("Lab14_query1_DAW.php");
?>
<br><br>
<h4>Frutas que son "Avocado"</h4>
<?php
    include("Lab14_query2_DAW.php");
?>
<br><br>
<h4>Frutas cuyo precio es menor a $15.00</h4>
<?php
    include("Lab14_query3_DAW.php");
?>


</body>