<form action="Lab13_DAW_crear.php" method="POST" enctype="multipart/form-data">
    <div>
          <input id="producto" type="text" name="producto" class="validate" required>
          <label for="Producto">Inserta el nombre de cualquier producto</label>
        </div>
        
    <div>
          <?php if (isset($_SESSION["error_archivo"]) != ""): ?>
            <div class="card-panel">
              <span><?=$_SESSION["error_archivo"] ?></span>
            </div>
          <?php endif; ?>
        </div>
    
    <div>
      <div class="btn-secondary">
        <span>Aqui puedes seleccionar una imagen</span>
        <input type="file" name="imagen">
      </div>
      <div>
        <input type="text" >
      </div>
    </div>
    <div>
          <input type="submit" value="Registrar">
    </div>
  </form>