<body>
  
  <style type="text/css">
    .forma{
      text-align: center;
    }
  </style>
<div class="forma">
  <form method="post" action="Lab16_daw_login.php" >

    <label>Nombre Usuario: </label><br><input type="text" name="user" id="user" placeholder="Escribe tu nombre" required>
    <br><br>
    <label> Contraseña:</label><br>
    <input type="password" name="password" id="password" placeholder="Escribe tu Contraseña" required>
    <br><br>
    <button type="submit" class="btn btn-secondary">Iniciar <i>Sesion</i></button>  
  </form>
  </div>
<hr><br>


<div class="forma">

  <form method="post" action="InsertUser_daw_lab16.php" >

    <label>Nombre Usuario (Crear Cuenta): </label><br><input type="text" name="user" id="user" placeholder="Escribe tu nombre" required>
    <br><br>
    <label> Contraseña: (Crear Contraseña)</label><br>
    <input type="password" name="password" id="password" placeholder="Escribe tu Contraseña" required>
    <br><br>
    <button type="submit" class="btn btn-success">Crear <i>Cuenta</i></button>  
  </form>
  </div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Presiona aqui para otra forma de Crear una Cuenta</i></button>



  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bienvenido, Aqui puedes Crear una Cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="forma">



              <form method="post" action="InsertUser_daw_lab16.php" >

                <label>Nombre Usuario (Crear Cuenta): </label><br><input type="text" name="user" id="user" placeholder="Escribe tu nombre" required>
                <br><br>
                <label> Contraseña: (Crear Contraseña)</label><br>
                <input type="password" name="password" id="password" placeholder="Escribe tu Contraseña" required>
                <br><br>
                <button type="submit" class="btn btn-success">Crear <i>Cuenta</i></button>  
              </form>
              </div>


        </div>
        
      </div>
    </div>
  </div>








  <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">¿Por qué es una buena práctica separar el modelo del controlador?</button></h5>
  </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul>
        <li>
        Simplemente para que el codigo sea mayormente susceptible a cambios en el futuro con mayor facilidad, mas ordenado y limpio asi como tambien que sea entendible para pueda brindar mayor control en el futuro.
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qué es SQL injection y cómo se puede prevenir?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

    <ul>
    <li>
      Un inyeccion de SQL es usada de forma similar a las otras formas de inyeccion de codigo. Pero, a diferencia de las otras inyecciones de codigo, esta permite poder alterar las bases de datos de forma que hasta pueden exponer la informacion que estas mismas contienen. Por ejemplo, una inyeccion de SQL podria destruir una base de datos o alterarla a como sea conveniente a un usuario.
      <li>Las maneras que se pueden utilizar para poder prevenir estos ataques es prohibiendo la insercion de caracteres especiales (comillas en particular) para que estos no permitan la insercion de codigo que pueda alterar la informacion. </li>
    </li>
    
    </ul>
      
</div>
    </div>
  </div>

<br>
<h4>Tabla con todos las <b>Usuarios</b></h4>
<?php
    require_once "util_lab16.php";

    $result = getUsers();
    echo "<table>";
    echo "<tr>";
    echo "<th> UserName </th>";
    echo "<th> Password </th>";
    echo "<th> Country </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["UserName"]. "</td>";
            echo "<td>" . $row["Password"]. "</td>";
            echo "<td>" . $row["Country"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";

?>
<br><br>
<h4>Usuarios de nombre "Quique"</h4>
<?php
    require_once "util_lab16.php";

    $result = getUsersbyName("Quique");
    echo "<table>";
    echo "<tr>";
    echo "<th> UserName </th>";
    echo "<th> Password </th>";
    echo "<th> Country </th>";
    echo "</tr>";
    if(mysqli_num_rows($result)>0){
        while($row = mysqli_fetch_assoc($result)){
            echo "<tr>";
            echo "<td>" . $row["UserName"]. "</td>";
            echo "<td>" . $row["Password"]. "</td>";
            echo "<td>" . $row["Country"]. "</td>";
            echo "</tr>";
        }
    }
    echo "</table>";
?>
<br><br>


</body>