
/* Aqui se encuentra la version minified del codigo CSS que fue utilizado:

header{color: red;font-size: 20px;font-weight: bold;}h3{font-style: italic;}ul{list-style: square;}a{font-weight: bold;}a:hover{color: red;font-style: italic;}p{color: black;}#Maintitle{color: blue;font-size: 50px;text-align: center;}#Maintitle:hover{color: gray;}#secondlist{list-style: circle;color: blue;}
 */

header{
	color: red;
	font-size: 20px;
	font-weight: bold;
}

h3{
	font-style: italic;

}

ul{/*Solo aplica para lista que contienen varios puntos para este laboratorio*/
	list-style: square;
}

a{
	font-weight: bold;
}

a:hover{
	color: red;
	font-style: italic;
}

p{
	color: black;
	text-align: justify;
}

#Maintitle{
	color: blue;
	font-size: 50px;
	text-align: center;

}
#Maintitle:hover{
	color: gray;
}

#secondlist{
	list-style: circle;
	color: blue;
}