
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

<body>
	<!--Se pone los scripts en este laboratorio para que me sea facil identificar el codigo perteneciente de cada api-->
   
    <div id="data"> </div>

<script type="text/javascript">
    var xmlhttp = new XMLHttpRequest();
var url = "https://api.coindesk.com/v1/bpi/currentprice.json";
        
xmlhttp.onreadystatechange = function() {
  if (this.readyState == 4  &&  this.status == 200) {
    var json = JSON.parse(this.responseText);
    parseJson(json);
  }     
};

xmlhttp.open("GET", url, true);
xmlhttp.send();

function parseJson(json) {
  var time = "<b>Ultima Actualizacion : " + json["time"]["updated"] + "</b>";
  var usdValue = "1 BTC es igual a $" + json["bpi"]["USD"]["rate"];
  var gbpValue = "1 BTC es igual a &pound;" + json["bpi"]["GBP"]["rate"];
  var euroValue = "1 BTC es igual a &euro;" + json["bpi"]["EUR"]["rate"];

  document.getElementById("data").innerHTML =
    time + "<br /><br />" + usdValue + "<br />" + gbpValue + "<br />" + euroValue;
}
</script>




    <div id="ytplayer"></div>

    <script>
      // Load the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // Replace the 'ytplayer' element with an <iframe> and
      // YouTube player after the API code downloads.
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
          height: '360',
          width: '640',
          videoId: 'T4ECOpnpieA'
        });
      }
    </script>



  <hr>



 <div id="paypal-button-container"></div>

    <script>
        paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
             style: {
            label: 'buynow',
            fundingicons: true, // optional
            branding: true, // optional
            size:  'responsive', // small | medium | large | responsive
            shape: 'pill',   // pill | rect
            color: 'blue'   // gold | blue | silve | black
        },


            client: {
                sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                production: '5YR5BYRPC49B34ZE'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '100000.01', currency: 'USD' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    window.alert('Payment Complete!');
                });
            }

        }, '#paypal-button-container');

    </script>

<div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
           <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</button></h5>
  </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <h5>A partir de lo que he visto cuando trabaje en este laboratorio, lo siguiente fue lo que pude concluir:</h5>
      <ul>
        <li>
            Ventajas:
            <ul>
                <li>
                    Integracion con servicios ya conocidos.
                </li>
                <li>
                    Facilitan la escritura de codigo a que no sea demasiado largo.
                </li>
                <li>
                    Es gratis (al menos en la mayoria de api's que he visto y en todas las que use)
                </li>
                <li>
                    Confiable
                </li>
            </ul>
        </li>
        <li>
            Desventajas:
            <ul>
                <li>
                    Posiblemente la disponibilidad del mismo servicio. Puede que existan ocasiones en donde no este disponible.
                </li>
                <li>
                    Puede llegar a haber cambios en la api por parte de los desarrolladores que podria o no podria afectar a quienes la consumen la api para su pagina.
                </li>
            </ul>
        </li>
      </ul>
      </div>
    </div>
  </div>

<h4><b><i>Referencia</i></b></h4>
<a href="https://www.genbetadev.com/programacion-en-la-nube/pros-y-contras-del-uso-de-apis-de-terceros">Api's de Terceros</a>


<hr>






<h2>Seccion de <i>AJAX</i></h2>

<form>
<select name="users" onchange="showUser(this.value)">
  <option value="">Selecciona una Opcion para desplegar la informacion:</option>
  <option value="1">Obtener Reportes</option>
  <option value="2">Todos los Registros con SystemFAILURE</option>
  <option value="3">Cantidad de eventos SYSTEM FAILURE y la cantidad de eventos SUCCESS</option>
  </select>
</form>
<br>
<div id="txtHint"><b>Aqui se visualiza la informacion seleccionada</b></div>






</body>


<script>

function showUser(str) {
    if (str == "") {
        document.getElementById("txtHint").innerHTML = "";
        return;
    } else { 
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("txtHint").innerHTML = this.responseText;
            }
        };
        xmlhttp.open("GET","../php/php_ajax.php?q="+str,true);
        xmlhttp.send();
    }
}
</script>

